<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon-names=arrow_left_alt" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&family=Noto+Sans&display=swap" />
    <link rel="stylesheet" type="text/css" href="../../../blog/style.css" />
    <title>{{title}} - Ana Martins - Blog</title>
</head>
<body id="post">
    <nav id="nav-post">
        <span class="material-symbols-outlined">
            arrow_left_alt
        </span>
        <a href="/blog/index.html">Home</a>
    </nav>
    <header id="header-post"><h1 class="post-title">{{title}}</h1></header>
    <sidebar id="sidebar-post">
        <h2 class="sidebar-other-posts-title">Latest posts</h3>
        <ul class="sidebar-other-posts">
            {% for allPost in collections.post reversed %}
                <li class="sidebar-other-posts-item">
                    <a href="{{allPost.url}}">{{allPost.data.title}}</a>
                </li>
            {% endfor %}
        </ul>
    
    </sidebar>
    <main id="main-post">
        {{ content }}
    </main>
    <footer id="footer-post">
        <div class="footer-social-media">
            <h2>Say hello</h3>
            <ul class="footer-social-media-list">
                <li><a href="https://www.linkedin.com/in/anacmartins/" target="_blank">Linkedin</a></li>
                <li><a href="https://github.com/anamartins" target="_blank">Github</a></li>
            </ul>
        </div>
        <a href="/blog/feed.xml" class="rss-link">rss</a>
    </footer>
   
</body>
</html>